
<div id="login-form" class="errors"><%= erb :'_errors' %><br><br></div>
<form action="/sessions" method="POST">
	<input type="text" name="username" placeholder="Username:">
	<input type="password" name="password" placeholder="Password:">
	<input type="submit" value="Login">
</form>
