<div class="errors"><%= erb :'_errors' %><br></div>

<form id="form-center" enctype="multipart/form-data" action="/venues" method="post">
	<label>Username:</label>
	<input type="text" name="venue[username]" value="1"><br><br>

	<label>Name:</label>
	<input type="text" name="venue[name]" value="1"><br><br>

	<label>Location:</label>
	<input type="text" name="venue[location]" value="1"><br><br>

	<label>Email:</label>
	<input type="text" name="venue[email]" value="1"><br><br>

	<label>Password:</label>
	<input type="password" name="venue[password]" value="1"><br><br>
	
	<input type="file" name="image">
  
  <input type="submit" name="submit" value="submit">

</form>
