<div class="errors"><%= erb :'_errors' %><br></div>

<form id="form-center" enctype="multipart/form-data" action="/venues" method="post">
	<label>Username:</label>
	<input type="text" name="venue[username]"><br><br>

	<label>Name:</label>
	<input type="text" name="venue[name]"><br><br>

	<label>Location:</label>
	<input type="text" name="venue[location]"><br><br>

	<label>Email:</label>
	<input type="text" name="venue[email]"><br><br>

	<label>Password:</label>
	<input type="password" name="venue[password]"><br><br>
	
	<input type="file" name="user[image]" id="user_image">
  
  <input type="submit" name="commit" value="Create User" data-disable-with="Create User">

</form>
