<div class="errors"><%= erb :'_errors' %><br><br></div>

<form id="form-center" action="/venues" method="post">
	<label>Username:</label>
	<input type="text" name="venue[username]"><br><br>

	<label>Name:</label>
	<input type="text" name="venue[name]"><br><br>

	<label>Location:</label>
	<input type="text" name="venue[location]"><br><br>

	<label>Email:</label>
	<input type="text" name="venue[email]"><br><br>

	<label>Password:</label>
	<input type="password" name="venue[password]"><br><br>
	
	<input type="submit" value="submit">
</form>
