<form action="/venues" method="post">
	<input type="text" name="venue[username]" placeholder="username:">
	<input type="text" name="venue[first_name]" placeholder="first_name:">
	<input type="text" name="venue[last_name]" placeholder="last_name:">
	<input type="text" name="venue[name]" placeholder="business name:">
	<input type="text" name="venue[location]" placeholder="location:">
	<input type="text" name="venue[email]" placeholder="email:">
	<input type="password" name="venue[password]" placeholder="password:">
	<input type="submit" value="">
	
</form>