<!DOCTYPE html>
<html lang="en">
<head>
  
  <link rel="stylesheet" href="/css/normalize.css">
 
  <link rel="stylesheet" href="/css/application.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>

<ul>
  <li><a href="/" class="round yellow">Home<span class="round">Going home?</span></a></li>

  <% if current_user || current_venue %>
    <li><%= erb :'_logout', layout:false %></li>
  <% else %>
    <li><a id="round-login" href="/sessions/new" class="round green">Login<span class="round">That is, if you already have an account.</span></a></li>
    
    <li><a href="/users/new" class="round red">Sign Up<span class="round">But only if you really, really want to. </span></a></li>
  <% end %>
</ul> 
  <%= yield %>
</body>
</html>
